/* Basisstijl voor mobiele apparaten */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    padding: 10px;
}

/* Mobile-first: We beginnen met de basisstijl voor mobiele apparaten (zonder media queries) en voegen vervolgens stijlen toe voor grotere schermen met min-width. */

section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

/* Aanpassingen voor schermen groter dan 600px */
@media only screen and (min-width: 600px) {
    body {
        background-color: yellow;
    }

    section {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* Aanpassingen voor schermen groter dan 1024px */
@media only screen and (min-width: 1024px) {
    body {
        background-color: orange;
    }

    section {
        max-width: 60%;
    }
}
